/**
 * A dark theme for prism.js
 */

$color-background: #2b2b2b;
$color-text:       #a9b7c6;

$color1:           #ffc66d;
$color2:           #9876aa;
$color3:           #808080;
$color4:           #484a4a;
$color5:           #cc7832;
$color6:           #e8bf6a;
$color7:           #6a8759;

$background5:      #364135;

@import "prism";
