/**
 * A light theme for prism.js
 */

$color-border:     #ddd;

$color1:           #183691;
$color2:           #795da3;
$color3:           #969896;
$color4:           #333333;
$color5:           #e90   ;
$color6:           #a71d5d;
$color7:           #63a35c;

@import "prism";
